.DS_Store
node_modules
.pnpm-store
.idea
.vscode/*.code-workspace

.env
.env.*
!.env.example

.nuxt
.output
dist
coverage
.cache

apps/web/.nuxt
apps/web/.output
apps/web/coverage
apps/web/.env

apps/cms/.cache
apps/cms/build
apps/cms/dist
apps/cms/.tmp
apps/cms/.env

postgres-data
